.levels{
    display: grid;
    padding: 20px;
    z-index: 2;
    width: 200px;
    margin:0 auto;
    height: 200px;
    background: rgb(98, 98, 99);
    justify-content: center;
    opacity: 0.9;
    border-radius: 20%;
}
#btn1,
#btn2,
#btn3{
    border-radius: 10%;
    color: black;
}
#btn1:hover,
#btn2:hover,
#btn3:hover{
    background: gray;
    color: white;
}